aside{
    background-color: #031C30;
    width: 300px;
    padding-top: 40px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 4px solid green;
}
.aside-title{
    font-size: 24px;
    color: white;
}
.linked{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.ul-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-bottom: 40px;
}
.ul-1 li a img{
    border: 3px solid green;
    border-radius: 50%;
}
.ul-2{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ul-2 li a{
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    font-size: 18px;
}
.ul-2 li a img{
    border-radius: 50%;
    margin-top: -8px;
}